* {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    cursor: pointer;
    color: black;
    background-color: #e7e7e7;
    margin: 3px;
    padding: 4px;
    width: 150px;
    border-radius: 4px;     
}

li:hover {
    color: white;
    background-color: darkgrey;
}

.titleBar{
   margin: -21px -15px 4px -8px;
   padding: 20px 0 10px 15px;
   color: white;
   background-color :#2F4F4F;

}

.divLeft{
    float: left;
    margin-left: -10px;
}

.selected {
    color: white;
    background-color: darkgrey;
}

.divLeft2{
    float:left;
    margin: 4px 25px;
    padding: 20px;
    border-radius: 4px;     
    background-color: #e7e7e7 ;
    color:#2F4F4F;
}

.flag{
    margin: 5px;
    height: 60px;
    width: 100px;
}

/* Navigation Bar */
nav{
   width: 100%;
   margin: -5px 0 0 -9px;
   background-color :grey;
   height: 34px;
}

nav a {
    text-decoration: none;
    color: #e7e7e7;
   padding: 5px;
}

nav :hover{
    background-color: white;
    color: black;
}

.formElement{
    margin :6px;
}